/* !Especiais */

* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

:root {
    --corPreta: black;
    --placeholder: red;
}

/* <Tags> */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: hsl(200, 100%, 30%);
}

header {
    grid-area: h;
    background: var(--corPreta);
    padding: 15px;
    color: white;
}

footer {
    grid-area: f;
    background: var(--corPreta);
    text-align: center;
}

main {
    width: 100%;
}

/* #ID's */
#principal {
    display: grid;
    grid-template-rows: 20vh 100vh;
    grid-template-areas: "h"
                         "c";
}

#content {
    grid-area: c;
}

#cards {
    display: flex;
    flex-wrap: wrap; 
    height: 100%;
    justify-content: center;
    align-items: center;
}

/* .Classes */

.card {
    padding: 20px;
    height: 60%;
    width: 310px;
    max-width: 320px;
    margin: 10px;
    border-radius: 5px;
}

.card:not(.sectionContent){
    background: var(--corPreta);
    filter: opacity(70%);
}

.sectionContent {
    color: white;
    filter: opacity(100%); 
}

/* Responsividade */

@media only screen and (max-width: 600px){
    .card {
        margin: 10px;
    }
}
